$main-bg-color: #E7418F;
$main-bg-color-2: #f3e1e9;
$main-text-color: #4062AB;
$main-btn-color: #C23364; 
$secondary-color: #FFFFFF;
$veryDarkCyanFade: #00000099;
$veryPaleCyan: hsla(192, 100%, 96%, 0.6);